/** @format */

.button {
	// padding: 1rem;
    text-align: center;
    outline: none;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
